*{ 
  margin:0;
  padding: 0;
}  
head{
  margin-top: 10px;
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.nav{
  top: 20px;
  position: relative;
  left: 0;
  right: 0;
  margin: 20px auto;
  max-width: 1000px;
  width: 90%;
}
nav>ul{
  display: table;
  width: 100%;
  background: #000;
  position: relative;
}