<!DOCTYPE html>
<html>

<head>
  <!--
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    
  <script src="main.js"></script>
  -->
  <link rel="stylesheet" type="text/css" media="screen" href="../css/styleheader.css" />

</head>

<body>
  <!--Cabecera-->
  <!--
  <div class="log">
    <img class= "logo" src="..//images/pregnant.png" alt="">
    <p class="profile">Mom Center</p>
  </div>
  <h2>Hola
    <span id="userEmail"></span>
  </h2>
-->
  <header>
    <nav>
        <ul>
          <li><a href="#"><span class=""><i class="icon icon-house"></i></span>Inicio</a></li>
          <li><a href="#"><span class Buscar</a></li>
          <li><a href="#">Notificaciones</a></li>
          <li><a href="#">Perfil</a></li>
        </ul>
      </nav>
      <!--
    <nav class="menu">
      <img class="home" src="..//images/home.png" alt="">
      <img class="search" src="..//images/search.png" alt="">
      <img class="alarm" src="..//images/alarm.png" alt="">
      <img class="user" src="..//images/user.png" alt="">
    </nav>
  -->
  </header>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="main.js"></script>
  <script src="app.js"></script>
</body>

</html>