.btn {
  background-color : #F1AAA8;
}
#user-photo {
  border: 6px solid #F1AAA8;
}
#card horizontal card-posts{
  background: #e3f2fd!important;
}

.card-posts, .card-notification{
  background-color : #e3f2fd!important;
}
.contenido-post{
  background-color : white;
}
textarea{
  border: none;
}