.btn {
  background-color : #ff8f00;
}
.card-posts, .card-notification{
  background-color : white;
}
.contenido-post{
  background-color : white;
}
body{
  font-family: 'Imprima', sans-serif!important;
  font-size: auto!important;
}
#user-photo {
 border: 1px solid white;
}
textarea{
 border: white!important;
}
#waves-effect btn-small{
 display: inline-block!important;
}
