body{
  margin-top: 50px;
  background-attachment: fixed;
  background-image: url(images/pregnancy.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode:overlay;
  background-repeat: repeat; 
}
.login-form-text, .user-icon-color, .pass-icon-color{
  color: #724043;
}
#forget, #btn-color{
  color: #724043;
}
.logo-image{
  width: 170px;
  height: 150px;
}
.user-icon-color, .pass-icon-color, .lbl-pass{
  color: #EEA848;
}



/*body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
.log{
  background-color: #FF70FF;
  vertical-align: middle;
  width: 1360px;
  height: 100px;
  display: inline-flex;
  margin: auto;
  left: 50%;
}
@media (max-width:400px){
  .log{
    width: 100%;
  }
}
.logo{
  width: 80px;
  height: 80px;
  margin: auto;
  float: left;
}
.profile{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 30px;
  margin: auto;
  color:  #ffe6ff;
}
.container{
  border: black solid 1px;
  border-radius: 5px;
  padding: 17px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
@media(max-width:400px){
  .login{
    width: 90%;
  }
}
.userLogin{
  display: block;
}

.userRegister{
  display: block;
}
#email, #password, #email2, #password2, #name{
  display: block;
  width: 90%;
  font-size: 18px;
  padding: 10px;
  margin: 30px 0;
}
#login, #loginFacebook, #registerUser, #register, #returnHome{
  border: 0;
  width: 200px;
  height: 40px;
  opacity: 0.8;
  cursor: pointer;
  margin-bottom: 0;
  background-color: #4d4dff;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}
#loginGoogle{
  border: 0;
  width: 200px;
  height: 40px;
  opacity: 0.8;
  cursor: pointer;
  margin-bottom: 0;
  background-color: #ff4000;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}
#loginFacebook{
  border: 0;
  width: 200px;
  height: 40px;
  opacity: 0.8;
  cursor: pointer;
  margin-bottom: 0;
  background-color: 	#0000ff;
  font-size: 18px;
  color: white;
  border-radius: 5px;
}
#login, #loginGoogle, #loginFacebook, #registerUser, #register, #returnHome:hover{
  opacity: 1;
}
#login, #loginGoogle, #loginFacebook, #registerUser, #register, #returnHome:active{
  transform: scale(0.95);
}
